<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GenDocumentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OCAUtilities.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6BF165E18726E9D00DFF918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6BF166E18726E9D00DFF918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6FA4A7F187E5A3600E5F6C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6FA4A83187E5B1600E5F6C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
