<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>com.somnio</string>
	<key>--docset-atom-filename</key>
	<string>DTFoundation.atom</string>
	<key>--docset-feed-url</key>
	<string>https://svn.somnio.local/svn/somnio/SOM_1001_iPad_Lit_Rack/trunk/creative/03_build/02_programming/ios/LiteratureRack//DTFoundation/%DOCSETATOMFILENAME</string>
	<key>--docset-package-url</key>
	<string>https://svn.somnio.local/svn/somnio/SOM_1001_iPad_Lit_Rack/trunk/creative/03_build/02_programming/ios/LiteratureRack//DTFoundation/%DOCSETPACKAGEFILENAME</string>
	<key>--docset-fallback-url</key>
	<string>https://svn.somnio.local/svn/somnio/SOM_1001_iPad_Lit_Rack/trunk/creative/03_build/02_programming/ios/LiteratureRack//DTFoundation</string>
	<key>--publish-docset</key>
	<true/>
	<key>--keep-undocumented-objects</key>
	<true/>
	<key>--keep-undocumented-members</key>
	<true/>
	<key>--keep-intermediate-files</key>
	<true/>
	<key>--ignore</key>
	<array>
		<string>*.m</string>
	</array>
	<key>--logformat</key>
	<string>xcode</string>
	<key>--print-settings</key>
	<true/>
	<key>--project-company</key>
	<string>Somnio Solutions, Inc.</string>
	<key>--project-name</key>
	<string>SSUtilities</string>
	<key>--repeat-first-par</key>
	<false/>
	<key>--templates</key>
	<string>~/.appledoc/Templates</string>
	<key>--verbose</key>
	<integer>3</integer>
	<key>--output</key>
	<string>/tmp/appledoc</string>
	<key>--exit-threshold</key>
	<integer>2</integer>
</dict>
</plist>
